body {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: #FF3333;
}

p {
    font-size: 24px;
}

.main {
    display: grid;
    margin: auto;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 15px;
    width: 850px;
    height: auto;
    justify-content: space-between;
    grid-template-areas:
    "header"
    "initArea"
    "solution"
    "feature"
}

.header > h1 {
    grid-area: h1;
}

img {
    filter: invert();
    display: block;
    float: right;
    width: 90px;
}

.header > a {
    grid-area: a;
}

.header{
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-area: header;
    grid-template-areas:
    "h1 a";
}

header > .odds{
    grid-area: initArea;
    display: grid;
}

.odds > .btn {
    margin-top: auto;
    font-size: 16px;
    width: 180px;
    height: 30px;
    grid-area: btns;
}

.odds > h2 {
    grid-area: h;
}

.odds > input {
    grid-area: inputs;
}

.odds {
    display: grid;
    grid-area: initArea;
    grid-template-columns: 50px 150px 190px 190px;
    grid-template-rows: 100px auto auto auto auto;
    grid-template-areas: "btns btns btns btns"
                         "h inputs inputs inputs"
                         "h inputs inputs inputs"
                         "h inputs inputs inputs";
    grid-row-gap: 10px;
}

table {
    font-size: 24px;
    text-align: center;
}
    
.solution{
    grid-area: solution;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 50px auto auto;
    grid-template-areas: "label input input"
                         "button button button";
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 0px;
    align-items: end;
    text-align: center;
    justify-items: left;
    align-items: center;
}

.line {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: white;
}

#button_1 {
    grid-row-start: 2;
    grid-column-start: 1;
}

.solution > h1 {
    grid-area: label;
    margin: 0px;
}

.solution > .enter {
    grid-area: input;
}

input {
    margin: 5px;
    width: 120px;
    height: 30px;
    padding: 5px;
    border: 3px solid white;
    background: #FF3333;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    outline:none;
}

#add_col {
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    margin: 0px 0px 8px 0px;
    width: 250px;
    height: 40px;
    border: 3px solid black;
    background: white;
    border-radius: 8px;
    font-size: 20px;
    color: black;
    transition: 0.5s;
}

.btn:hover {
    background-color: #E12D2F;
    color: white;
}

.btn:active {
    background-color: white;
    color: black;
}

.feature {
    grid-area: feature;
}
